<div class="container">
  <div class="page-header">
    <h1 class="text-center"><%= @campaign.title %> </h1>
  </div>
</div>

<div class="container">
  <div class="page-header">
    <h3><span class="label label-danger"> Comments </span></h3>
  </div>
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center">Comment</th>
        <th class="text-center">Commented_by</th>
      </tr>
    </thead>
    <tbody>
      <% @campaign.comments.each do |c| %>
        <tr>
          <td class="text-center"><%= c.title %></td>
          <td class="text-center"><%= c.user.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= form_with url: campaign_comments_path(@campaign) do |f| %>
  <div class="form-group">
    <%= f.text_field :title, class: 'form-control', placeholder: "Type your comment" %>
    <br>
    <%= f.submit "Add Comment", class: 'btn btn-success', style: "margin-bottom: 20px;"%>
  </div>
  <% end %>
</div>

<div class="container">
  <div class="page-header">
    <h3><span class="label label-danger"> Todo list </span></h3>
  </div>
</div>
<div class="container">
  <table class="table table-striped">
     <thead>
      <tr>
        <th class="text-center">Todo</th>
      </tr>
    </thead>
    <tbody>
      <% @campaign.todos.each do |t| %>
        <tr>
          <td class="text-center"><%= t.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    <%= form_with url: campaign_todos_path(@campaign) do |f| %>
  <div class="form-group">
    <%= f.text_field :title, class: 'form-control', placeholder: "Type Todo Name" %>
    <br>
    <%= f.submit "Add Todo", class: 'btn btn-success', style: "margin-bottom: 20px;"%>
  </div>
  <% end %>
</div>

<div class="container">
  <div class="page-header">
    <h3><span class="label label-danger"> Discussion Topics </span></h3>
  </div>
</div>
<div class="container">
  <table class="table table-striped">
     <thead>
      <tr>
        <th class="text-center">Title</th>
         <th class="text-center">Created By</th>
         <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @campaign.discussion_topics.each do |dt| %>
        <tr>
          <td class="text-center"><%= dt.title %></td>
          <td class="text-center"><%= dt.novice.name %></td>
          <td class="text-center">
            <%= link_to "Show", campaign_discussion_topic_path(@campaign.id,dt), class: 'btn btn-outline-primary'%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if policy(DiscussionTopic).create? %>
    <%= button_to "Create DiscussionTopic", new_campaign_discussion_topic_path(@campaign.id), method: :get, class: 'btn btn-success'%>
  <% end %>
  <div style="padding-top: 20px;">
    <%= link_to 'Back', campaigns_path, class: 'btn btn-primary'%>
  </div>
</div>