<!DOCTYPE html>
<html>
  <head>
    <title>DiscussionForum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/" style="padding-left: 20px;">Welcome to Discussion-Forum</a>
        <form class="form-inline" style="padding-right: 20px;">
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        </form>
      </nav>
    <% end %>
    <%= flash_messages %>
    <%= yield %>
  </body>
</html>
